// ==========================
//  I. Images
// ==========================





// images
// ======================

// img {margin-bottom: $base-horizontal-padding;}
img {margin:auto auto $base-horizontal-padding;}
.imagery { img {max-width: $base-max-width * 0.77778;} } // just for styleguide

// responsive images - excludes img with svg sources
img {
    &:not(.svg){
        display: block; max-width: 100%; height: auto;
    }
}




// figure
// ======================
//    <figure>
//        <img>
//        <figcaption></figcaption>
//    </figure>
// ======================

figure img,
figure {
    margin: 0 auto $scale_1;
    img,
    & > img {
        margin: 0 auto;
    }
}







// background images
// ======================


%bg_image {

    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;

    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    //    webkit-filter: contrast(1.1);
    //    -moz-filter: contrast(1.1);
    //    -ms-filter: contrast(1.1);
    //    -o-filter: contrast(1.1);
    //    filter: contrast(1.1);
    transition: all ease 1s;

    color: $wht;

    &:before {

        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        max-height: 100%;
        z-index: 0;

        // background-image: linear-gradient(to bottom right,#002f4b,#dc4225);
        // opacity: .6;
        // background: linear-gradient(transparent,transparent,rgba(0,0,0,0.4),rgba(0,0,0,0.6));

        @include linear-gradient(0, 0, 0, 0.75, 0, 0, 0, 0.5,);

    }

}

.bg_image {
    @extend %bg_image;
}


.background-img {
    @include bg-no_url(center, no-repeat, fixed);
    background-size: cover;
    //    @include linear-gradient(0, 0, 0, 0.8, 0, 0, 0, 0.25,)
    color: $wht;
}

.bg_demo, .bg_clockwork {color: $wht;}


.bg_demo {    @include bg('https://images.unsplash.com/photo-1485356824219-4bc17c2a2ea7?dpr=1&auto=format&fit=crop&w=1500&h=1002&q=80&cs=tinysrgb&crop=', 0.8, cover);}
.bg_clockwork { @include bg('../images/dev/clockworkfest_art.jpg', 0.8, cover);}
