/* ==============================

      TYPOGRAPHY
      ==================

      [ reference - via _variables.scss ]

      $base-font-size:        16px; // = 1rem
      $base-line-height:      1.45 * $base-font-size; // was 1.6 * $base-font-size;
      $base-vertical-scale:   1.33333;

        $h1: 5.653; // 90.441px
        $h2: 3.998; // 63.961px
        $h3: 2.827; // 45.234px
        $h4: 1.999; // 31.99px
        $h5: 1.414; // 22.624px
        $pLead: 1.414; // 22.624px
        $p1: 1; // 16px


// ============================== */

// ====================================
//  I.  typography
//      - styled by by roles / useage
// ====================================

//  1. main
// *************************
// h1 { @include type-setting(5); }
// h2 { @include type-setting(4); }
// h3 { @include type-setting(3); }
// h4 { @include type-setting(2); }
// h5 { @include type-setting(1); }
// p  { @include type-setting(0); }
// li { @include type-setting(0); }


h1 {
                            @include type-setting(5);
    @media #{$large-down} { @include type-setting(4); }
    @media #{$small-only} { @include type-setting(3); }
}
h2 {
                            @include type-setting(4);
    @media #{$large-down} { @include type-setting(3); }
    @media #{$small-only} { @include type-setting(2); }
}
h3 {
                            @include type-setting(3);
    @media #{$large-down} { @include type-setting(2); }
    @media #{$small-only} { @include type-setting(1); }
}
h4 {
                            @include type-setting(2);
    @media #{$large-down} { @include type-setting(1); }
    @media #{$small-only} { @include type-setting(0); }
}
h5 {
                            @include type-setting(1);
    @media #{$large-down} { @include type-setting(0); }
    @media #{$small-only} { @include type-setting(0); }
}
p  {
                            @include type-setting(0);
    @media #{$large-down} { @include type-setting(0); }
    @media #{$small-only} { @include type-setting(0); }
}
li {
                            @include type-setting(0);
    @media #{$large-down} { @include type-setting(0); }
    @media #{$small-only} { @include type-setting(0); }
}


p.lead { @include type-setting(1); }


//  2. article
// *************************
// article h1 { @include type-setting(5); }
// article h2 { @include type-setting(4); }
// article h3 { @include type-setting(3); }
// article h4 { @include type-setting(2); }
// article h5 { @include type-setting(1); }




//  1. Blockquote
// *************************
// - https://developer.mozilla.org/en-US/docs/Web/HTML/Element/blockquote
// - http://html5doctor.com/cite-and-blockquote-reloaded/

blockquote {
    @include type-setting(1);
    display: block;
    width: 100%;
    padding: $base-horizontal-padding;
    margin-bottom: $base-horizontal-padding;
    background: $grylite;
    & > p {@include type-setting(1); margin-bottom: 0;}
    span, cite {
        @include type-setting(0);
        display: block;
        padding-top: $base-vertical;
        font-style: italic;
        a {display: inline-block;}
    }
}

// blockquotes

blockquote {
    p {margin: 0 !important;}
    a {
        display: block;
        margin-top: 1rem;
        @include type-setting(0);
    }
}



// LISTS
ul, ol {
    // list-style: none;
    list-style-position: inside;
    margin-left:1rem;
    // li {line-height: 2em;}
    &.disc {
        list-style: disc;
        list-style-position: outside;
        padding-left: 1.33333rem;
    }
}


// elements with consistent dimensions a global level
// LISTS
// section, article, .article {
    ul {list-style: disc;}
    ol {list-style-type: decimal}
    ol, ul {
        list-style-position: outside;
        padding-left: $base-vertical;
        margin-bottom: $base-vertical;;
    }
// }



// ITALICS
em,
.italic {font-style: italic;}



// hyperlinks
a {
    cursor: pointer;
    outline: 0;
    text-decoration: none !important; // !important to override sharepoint
    @include anim($global-animation);

    // appearance
    // background-color: transparent;
    // border-bottom: 2px solid $grylite;
    color: $slate;
    // @include hover() { background-color: $wht; color: darken($slate,15%);}

}



//  2. main content
// *************************
body {
    // h1, h2 {margin-bottom: $base-vertical;}
    // p { font-family: $base-font; line-height: 1.778rem; }
    h1, h2, h3, h4, h5 { font-family: $title-font; font-weight: 800; }
    p, li { font-family: $base-font; }
}


//  3. article
// *************************
body > article,
body > .article,
.styleguide,
.hero {
    // h1, h2 {text-transform: none;}
    // p, h1, h2, h3, h4, h5, li { font-family: $base-font; }
    // h1, h2, h3, h4, h5 { font-weight: 700; }
    // h1 { @include type-setting(4); }
    // h2 { @include type-setting(2); } // normally = @include type-setting(3)
}

.articleFooter {
    max-width: $article-max-width;
    margin: auto;
    border-top: $base-border;
    padding-top: $base-horizontal-padding;
    margin-bottom: $base-horizontal-padding;
    p {color: lighten($slate, 20%);}
}


// ====================================
//  II.  typography helpers  - TODO: move to _helpers?
// ====================================

.subtitle {
    font-family: $title-font;
    font-size: $scale_2;
    color: #999;
    margin-bottom: $scale_1;
}

.subtitle_small {
    text-transform: uppercase;
    font-size: 77.7778%;
    line-height: 0.8em;
    &.mb {margin-bottom: 0.5em;}
}




figcaption {
    @include type-setting(0);
    text-align: center;
    font-style: italic;
    margin: 0 auto;
    padding: $scale_0;

    // border-right: 2px solid $gry;
    // border-left: 2px solid $gry;
    // border-bottom: 2px solid $gry;
}





//.article {
//    p.has-drop-cap::first-letter {font-size:125px !important;}
//    p.has-drop-cap:before,
//    p.has-drop-cap:after{content:'';display:table}
//    p.has-drop-cap:after{clear:both}
//    p.has-drop-cap a{
//        color:inherit;
//        -webkit-box-shadow:0 -1px 0 inset;
//        box-shadow:0 -1px 0 inset;
//        text-decoration:none}
//    p.has-drop-cap a:hover{
//        color:inherit;
//        -webkit-box-shadow:0 -2px 0 inset;
//        box-shadow:0 -2px 0 inset
//    }
//}
