---
internshipTitle: Internship Title
internshipDescription: Pursue an internship to gain experience related to your major. Click here for a listing of open internships! (will go to the NeoGov internships page – currently employment.pa.gov)
---

{{#if fabricator}}
<section class="results {{media-objectClass}}">
{{/if}}
    <a href="#">
        <figure>
            <img src="http://via.placeholder.com/350x350/{{demoBG}}" />
            <figcaption>
                <h3>{{{internshipTitle}}}</h3>
                <p>{{internshipDescription}}</p>
            </figcaption>
        </figure>
    </a>
{{#if fabricator}}
    <a href="#">
        <figure>
            <img src="http://via.placeholder.com/350x350/777777" />
            <figcaption>
                <h3>{{{internshipTitle}}}</h3>
                <p>{{internshipDescription}}</p>
            </figcaption>
        </figure>
    </a>
    <a href="#">
        <figure>
            <img src="http://via.placeholder.com/350x350/555555" />
            <figcaption>
                <h3>{{{internshipTitle}}}</h3>
                <p>{{internshipDescription}}</p>
            </figcaption>
        </figure>
    </a>
    <a href="#">
        <figure>
            <img src="http://via.placeholder.com/350x350" />
            <figcaption>
                <h3>{{{internshipTitle}}}</h3>
                <p>{{internshipDescription}}</p>
            </figcaption>
        </figure>
    </a>
</section>
{{/if}}
