---
strapless: true
employmentMaterial: true
buttonText: Submit
---

<button data-balloon="Whats up!" data-balloon-pos="up">Hover me!</button>
<button data-balloon="Whats up!" data-balloon-pos="left">Hover me!</button>
<button data-balloon="Whats up!" data-balloon-pos="right">Hover me!</button>
<button data-balloon="Whats up!" data-balloon-pos="down">Hover me!</button>
<button data-balloon-visible data-balloon="I am always visible!" data-balloon-pos="up">Always visible!</button>

<article>
    <p>Here's an <span data-balloon="I'm a tooltip." data-balloon-pos="up">inline tooltip</span>.</p>
    <p>Here's a <a href="#" data-balloon="I'm a tooltip." data-balloon-pos="up">hyperlink tooltip</a>.</p>
</article>