// ==========================================
//
//      GLOBAL STYLES
//      =======================
//
//      1.  body
//      2.  box sizing
//      3.  clearfix - TODO: is this necessary here; if yes, is it universally applied?
//      4.  hyperlinks
//      5.  responsive images
//
// =========================================
body { padding-top: $navHeight; }
html, body {
    margin: 0;
    // height: 100%;
    width: 100%;
    background: $global-background;
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $slate;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    @include box-sizing(border-box);
}

// box-sizing all up in hizzle
*, *:before, *:after {@include box-sizing(inherit);}

// clearfix
body, section, aside, main, .sidebar, .main {@include clear();}

// hyperlinks
a {
    cursor: pointer;
    outline: 0;
    text-decoration: none !important; // !important to override sharepoint
    @include anim($global-animation);

    // appearance
    // background-color: transparent;
    // border-bottom: 2px solid $grylite;
    color: $slate;
    // @include hover() { background-color: $wht; color: darken($slate,15%);}

}

// responsive images - excludes img with svg sources
img {
    &:not(.svg){
        display: block; max-width: 100%; height: auto;
    }
}
