// ==========================================
//
//      GLOBAL STYLES
//      =======================
//
//      1.  body
//      2.  box sizing
//      3.  clearfix - TODO: is this necessary here; if yes, is it universally applied?
//      4.  hyperlinks
//      5.  responsive images
//
// =========================================


html, body {
    margin: 0;
    // height: 100%;
    width: 100%;
    background: $global-background;
    font-family: $base-font;
    font-size: $base-font-size;
    line-height: $base-line-height;
    color: $slate;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    @include box-sizing(border-box);
}

// box-sizing all up in hizzle
*, *:before, *:after {@include box-sizing(inherit);}

// clearfix
body, section, aside, main, .sidebar, .main {@include clear();}



// BODY
// ==========================
//  - offsets equal to the topnav height (65px) to allow room for the fixed topnav.
// ========================

body {
    // padding: 0;
    padding-top: $navHeight;
    margin: 0; // 65px 0 0; set to 0 when using transparent nav
}
