// ===========================================
//      FORMS - LABELS
// ===========================================

//  3. labels
// ************************

label {
    display: block;
    margin-bottom: $base-horizontal-padding;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    button, p {text-transform: none;}
    font-size: small;
    color: $slate;
    @media #{$small-only} {
        margin-bottom: $base-horizontal-small;
         @include span(12 of 12);
     }
}


// variations

// .contact-form = wordpress > jetpack > form.contact-form
// .wpcf7-form  = wordpress > contact form 7 > form.wpcf7-form

.contact-form,
.wpcf7-form {
    label {
        // margin-bottom: 0;
        text-transform: none;
        font-size: 1rem;
    }
}
