
// ===================================
//      BUTTON BAR
//      --------------------
//      1. buttonBar = wrapper
//          &.buttonbarSpotlights = unique styling for Spotlights page, which has 2 tabs
//      2. iconButtonHyperlink = individual items
//          .active = used for current page, styled same as hover
// ===================================




.tabButtonBar {

    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background: $color_grey;

    &.tabsLeft {
        justify-content: center;
        align-items: flex-start;
    }

    button {
        padding: 1rem;
        margin: 0;
        border-color: transparent;
        background: transparent; // $color_grey;
        color: $slate;
        &.active { background: $color_white; border-top-color: $slate; }
    }

    &.tabsTransparent { background: transparent; button {background: transparent;} }
    &.tabsWhite { background: $color_white; button {background: transparent;} }

}






.btnBar {

    @include wrap($base-max-width, auto);

    button, .button, .btn,
    .tag, a[rel="tag"] {display: inline-block;}

}









// used largely for =
//  .jobsBar = employment
//  .actionItems = paGov

// wrapper
.buttonBar {
    @include clear();
    background: $gry;
    padding: $base-horizontal-padding;
    div {@include wrap($base-max-width, auto)}

    // unique layout by class
    &.buttonBarSpotlights {
        div {
            max-width: $article-max-width * 0.778;
            .iconButtonHyperlink {
                @include span(6 of 12); &:last-of-type{@include last;}
                @media #{$medium-down} {
                    margin-bottom: $base-vertical;
                    @include span(6 of 12);
                    &:last-of-type{@include last;}
                }
                @media #{$small-only} {
                //     margin-bottom:$base-horizontal-small;
                    @include span(12 of 12 0.333);
                }
            }
        }
    }
}

.tabBar {
    .iconButtonHyperlink {
        @include span(3 of 12);
        &:nth-of-type(4n){@include last;} // 4 tabs
    }
}

// a tags with with icons
a.iconButtonHyperlink,
.iconButtonHyperlink {
    // Change this depending on the number of tabs
    // @include span(3 of 12);
    // &:nth-of-type(4n){@include last;} // 4 tabs
    // &:last-of-type{@include last;} // 4 tabs

    @extend .button;

    padding: 1rem; // $base-vertical
    margin: 0;
    text-align: center;
    // text-transform:uppercase;
    color: $slate;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
    border-top:2px solid transparent;

    i,
    & > i {
        display: block;
        margin: auto;
        font-size: 4.209rem;
        padding-bottom: 10px;// 0.625em - = 10px
        // @include anim($global-animation);
        @media #{$small-only} {font-size: 2.369rem;}
        @media #{$medium-only} {font-size: 3.157rem;}
    }

    p,
    & > p {
        margin: 0 auto;
        @include type-setting(2);
        font-weight: normal;
    }

    // @include anim($global-animation);
    // @include hover() {
    //     background-color:$gry;
    //     border-color: $org;
    //     @media #{$small-only} {
    //         border-left:2px solid $org;
    //         border-bottom-color: transparent;
    //     }
    //     i {color: $org;}
    // }

    @media #{$medium-down} {@include span(6 of 12); &:nth-child(even){@include last;} }
    @media #{$small-only} {@include span(12 of 12 0.333);}

}


.iconBar {
    @include clear();
    background: $gry;
    .iconButtonHyperlink,
    a.iconButtonHyperlink {
        border-bottom: 0;
        @include hover() {background-color:$wht; color: $slate; span, i {color: $slate;}}
    }
}
