// ==========================
//  
//   Absconder's Most Wanted 
//  -----------------------------
//   - Styling absconder sections within the body element context
//
// ==========================

body {

    // About max-width
    .about {
        & > h1,
        & > p {max-width: $article-max-width;}
        p {line-height: 1.778rem;}
    }

    // adds padding to the first breakpoint
    @media #{$extra-large-down} {
        .submitAtip,
        // .search,
        .about,
        .searchResults { padding-left: $base-vertical; padding-right: $base-vertical;}
    }


}