---
title: Web App Standards
siteTitle: Web App Standards
fabricator: false
layout: layout_webAppStandards
home_page: true

linkURL: google.com
icon: mail
material_icons: true
fontAwesome_icons: false

---
<main class="main_home componentsIntro">
    
    <!-- <section class="article intro_greeting">
        <div>
            {{> logos.paLogo_WebAppStandards}}
        </div>
        <div>
            {{> logos.paLogo_WebAppStandards}}
            <p style="font-size: 1.333rem; margin-bottom: 1.778rem;"></p>
            <p style="font-size: 1.333rem; margin-bottom: 1.778rem;">Hello! Welcome to the Commonwealth's <strong>Web App Standards UI Library</strong></p> 
            <section class="accordion" data-f-toggle="code">
                <input type="checkbox" class="accordion_input" checked aria-hidden="true"> 
                <i aria-hidden="true"></i> 
                <p class="accordion_title">What is this?</p>
				<div>
					<p>A set of consistent, reusable components developed as a collaboration between PAI, the Governor’s Communications Department, and various Commonwealth agencies. In addition to providing a common look and feel, these components are accessible, responsive, and scalable. Design standards are largely based on U.S. Web Design Standards (developed by 18F), and informed by currently accepted best practices.</p>
				</div>
			</section>
        </div>
    </section> -->

    <section class="layout_grid col2 whatIsthis">
        <div class="article">
            {{> logos.paLogo_WebAppStandards}}
            <a href="structure.html"><i class="fa fa-paint-brush"></i> <span>Structure</span></a> 
            <a href="navigation.html"><i class="fa fa-bars"></i> <span>Navigation</span></a> 
            <a href="content.html"><i class="fa fa-list"></i> <span>Content</span></a> 
            <a href="layout.html"><i class="fa fa-columns"></i> <span>Layout</span></a> 
            <!-- <h1>{{title}}</h1> -->
            <!-- {{!-- {{> logos.paLogo siteTitle="Navigation"}} --}} -->
<!-- 
{{#markdown}}

### Structure

### Navigation

### Content

### Layout

{{/markdown}} -->

        </div>
        <div>
            
            {{> images.image imageSource="./assets/strapless/images/3d_demo_page/bg_page.png"}} 
            {{> images.image imageSource="./assets/strapless/images/3d_demo_page/layout.png"}}
            {{> images.image imageSource="./assets/strapless/images/3d_demo_page/content.png"}}

            <!-- {{> images.image imageSource="./assets/strapless/images/3d_demo_page/layout.png"}}
            {{> images.image imageSource="./assets/strapless/images/3d_demo_page/bg_layout.png"}} 

            {{> images.image imageSource="./assets/strapless/images/3d_demo_page/content.png"}}
            {{> images.image imageSource="./assets/strapless/images/3d_demo_page/bg_content.png"}}
            
            {{> images.image imageSource="./assets/strapless/images/3d_demo_page/navigation.png"}}
            {{> images.image imageSource="./assets/strapless/images/3d_demo_page/bg_navigation.png"}} 
            
            {{> images.image imageSource="./assets/strapless/images/3d_demo_page/bg_page.png"}} -->
        </div>
    </section>
<!-- 
    <section class="intro_buttons">
        <a class="button blulite">
            {{> images.image imageSource="./assets/strapless/images/UI_components/navigation_1440.png"}}
            Structure
        </a>
        <a class="button blu">
            {{> images.image imageSource="./assets/strapless/images/UI_components/navigation_1440.png"}}
            Navigation
        </a>
        <a class="button red">
            {{> images.image imageSource="./assets/strapless/images/UI_components/layout_1440.png"}}
            Layout
        </a>
        <a class="button slate">
            {{> images.image imageSource="./assets/strapless/images/UI_components/content_1440.png"}}
            Navigation
        </a>
        <a class="button grn">
            {{> images.image imageSource="./assets/strapless/images/UI_components/inputs_1440.png"}}
            Forms
        </a>
        <a class="button bludrk">
            {{> images.image imageSource="./assets/strapless/images/UI_components/sharing_1440.png"}}
            Sharing
        </a>
    </section> -->


</main>
