---
title: NAWCC
subtitle: National Association Of Watch & Clock Collectors
layout: nawcc
fabricator: false
structure: false
ui_toolkit: false

pageClass: structure
bodyClass: body_UItoolkit
heroClass: hero_nawcc_home
navMenuLabel: Menu

---


{{> heros.hero heroClass="hero_nawcc_home"}}

<!-- Featured Post -->
<article class="post twoCol bg_clockwork">
    <div>
        {{> typography.subtitle subtitleText="Events"}}
        {{> typography.h2 headingText="The Clockwork Festival"}}
        <div class="btnBar">
            {{> buttons.button buttonText="Event Details"}}
            {{> buttons.button buttonText="Register"}}
        </div>
    </div>
    <div>
        {{> images.image imageSource="./assets/strapless/images/dev/clockworkfest_logo.png"}}
    </div>
</article>

<!-- Featured Post -->
<article class="post twoCol">
    <div>
        {{> images.image imageSource="./assets/strapless/images/dev/clock.png"}}
    </div>
    <div>
        {{> typography.subtitle subtitleText="Bulletin"}}
        {{> typography.h2 headingText="Rufus Porter &amp; His Clock"}}
        <div class="btnBar">
            {{> buttons.button buttonText="Read The Article"}}
        </div>
    </div>
</article>

<!-- Two Col -->
<div class="twoCol">
    <article class="post bg_clockwork">
        <div>
            {{> typography.subtitle subtitleText="Events"}}
            {{> typography.h2 headingText="The Clockwork Festival"}}
            <div class="btnBar">
                {{> buttons.button buttonText="Event Details"}}
            </div>
        </div>
    </article>
    <article class="post bg_demo">
        <div>
            {{> typography.subtitle subtitleText="Events"}}
            {{> typography.h2 headingText="The Clockwork Festival"}}
            <div class="btnBar">
                {{> buttons.button buttonText="Event Details"}}
            </div>
        </div>
    </article>
</div>






<!-- 
==========================================
 DEV / TEST STUFF  
==========================================
--> 






<div id="01-info" class="componentsIntro">
	
	{{> svg}}
	{{> heros.hero_Logo SVG_xlink="paLogoSubtitle" heroClass="hero_Design home_hero"}}
	<section class="introSection introIcons">
		<div>
			<div class="intro">
				<h1>{{title}}</h1>
				<p>The central design for the Commonwealth is built around accessability, modern web practices, and user-centered thinking.</p>
				<p>Following these guidelines will allow you to implement the design system anywhere you wish.</p>
			</div>
			<div class="buttonBar buttonBarUXplaybook tabs" data-tabgroup="components_tabs">
				{{#each materials.design.items}}
					<a class="iconButtonHyperlink" href="#{{@key}}">
						<i class="fa {{#each this}}{{icon}}{{/each}}"></i> 
						<span>{{name}}</span>
					</a>
				{{/each}}
			</div>
		</div>
	</section>

</div>

{{#each materials.design.items}}
     {{> f-item_article this}}
{{/each}}


	