---
title: Article Title
subtitle: National Association Of Watch Clock Collectors
layout: nawcc
fabricator: false
structure: false
ui_toolkit: false

pageClass: structure
# bodyClass: body_UItoolkit
heroClass: hero_nawcc_home
navMenuLabel: Menu

---

{{> heros.hero_Image heroClass="bg_clockwork" imageSource="./assets/strapless/images/dev/clockworkfest_logo.png"}}

<section class="post_content">
    <p class="lead">What has this lead sentence got? It on. Yes, Lead sentence got it going on!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
</section>

{{> heros.hero heroClass="bg_clockwork"}}


<!-- Featured Post -->
<article class="post twoCol"> 
    <div>
        {{> images.image imageSource="./assets/strapless/images/dev/clock.png"}}
    </div>
    <div>
        {{> typography.subtitle subtitleText="Bulletin"}}
        {{> typography.h2 headingText="Rufus Porter &amp; His Clock"}}
        <div class="btnBar">
            {{> buttons.button buttonText="Read The Article"}}
        </div>
    </div>
</article>

<!-- Two Col -->
<div class="twoCol">
    <article class="post bg_clockwork">
        <div>
            {{> typography.subtitle subtitleText="Events"}}
            {{> typography.h2 headingText="The Clockwork Festival"}}
            <div class="btnBar">
                {{> buttons.button buttonText="Event Details"}}
            </div>
        </div>
    </article>
    <article class="post bg_demo">
        <div>
            {{> typography.subtitle subtitleText="Events"}}
            {{> typography.h2 headingText="The Clockwork Festival"}}
            <div class="btnBar">
                {{> buttons.button buttonText="Event Details"}}
            </div>
        </div>
    </article>
</div>


	