// ==========================
//  I. Images
// ==========================

// images
// img {margin-bottom: $base-horizontal-padding;}
img {margin:auto auto $base-horizontal-padding;}
.imagery { img {max-width: $base-max-width * 0.77778;} } // just for styleguide
