// ==========================
//  SEARCH RESULTS
//
//      actually a media-object
//
//      for the .resultsMessage styles, go to pagination
//
// ==========================

.searchResults {
    @extend %media-object;
    & > a {
        @include clear();
        @include span(6 of 12);
        &:nth-of-type(even) {@include last;}
        display: block;
        margin-bottom: $base-vertical;
        // border-bottom: .125em solid $gry_muted; // = imitates a shadow // old color = #b8b7b4;
        @include anim($global-animation);
        @include hover(){

            // slate bg
            figure {background: $slate; color: $wht;}
            img {opacity:0.8; background: $slate;}

            // yellow bg
            // figure {background: $ylw;}
            // img {opacity:0.8; background: $slate;}
        }
        @media #{$medium-800-down} { @include span(12 of 12); margin-bottom: $base-horizontal-small; }
    }

    // view more button (home page)
    button, .button { margin-left: auto; margin-right: auto; }

    // post results, pre paginstion message about results (no results, or "showing # of #")
    .resultsMessage {
        display: block;
        margin: 0 auto $base-vertical;
        padding-top: $base-vertical;
        text-align: center;
        font-style: italic;
        span {font-style: none !important; font-weight: bold;}
    }

}
