---
Notes: |

 Articles are used for content that doesn't need further context to be meaningful. A news story, for example.
 $article-max-width = 42.81rem
 We get the max width (64rem * 0.77778) by utilizing our vertical-rhythm ratio. This takes us to around 75-80 characters per line, which is just about the max width blocks of text should be, in order to remain as readable as possible.

---
<article>
    <p class="subheader">{{subtitle}}</p>
    <h1>{{title}}</h1>
    <div class="meta meta_article">
        <p>Styleguide > Overview</p>
        <p class="meta_right">November 29, 2016</p>
    </div>
    <blockquote>“My duties have helped me in my every day obligations outside of work to take a lead when required and help others with the training I have received.”</blockquote>
    <p>When most people hear the word “utility” they think of power, water and telephone companies. However, the PA Public Utility Commission also regulates buses, trucking companies, limousines and other commercial vehicles.</p>
    <p>As Public Utility Enforcement Officer, Anthony Bianco finds satisfaction in knowing his job is helping to keep the public safe.</p>
    <p>“The work is very rewarding for me, especially when you realize how many people are affected by commercial vehicle accidents every year. These enforcement activities can catch and prevent future violations from occurring which saves lives.  I have met so many people through this line of work and it really helps the public when they see a person on the other end who they feel they can relate to.”</p>
    <p>Some duties that PUC officers perform include: random and annual safety inspections on commercial vehicles, complaint investigations, audits of company maintenance, drug testing and driver records. Officers perform traffic stops of commercial vehicles and are able to issue citations and testify in court.</p>
    <p>The PUC also has agreements with the federal government though the PA State Police to perform safety audits on interstate carriers.</p>
    <p>“Working for the commonwealth has done a lot for me personally and professionally. On the personal side, my training and duties have provided me with many opportunities to improve and develop my ambition, interpersonal and leadership skills.  My duties have helped me in my every day obligations outside of work to take a lead when required and help others with the training I have received.”</p>
    {{> containers.articleFooter}}
</article>
