---
articleFooterText: With such a broad range of professions and opportunities for growth, the Commonwealth of Pennsylvania is an ideal place to begin or advance your career.
articleFooterLink: View our current job openings and apply.

Notes: |

 Articles are used for content that doesn't need further context to be meaningful. A news story, for example.
 $article-max-width = 42.81rem
 We get the max width (64rem * 0.77778) by utilizing our vertical-rhythm ratio. This takes us to around 75-80 characters per line, which is just about the max width blocks of text should be, in order to remain as readable as possible.

---
<footer class="articleFooter">
    <p>{{articleFooterText}}</p>
    <a href="#">{{articleFooterLink}}</a>
</footer>
