<footer class="pa_footer">
    <section class="pa_links">
        <!-- there's 4 cols, the first is the pa logo -->
        <img src="~/img/logo/PAlogo_metrics.png" alt="PA.gov State Logo">
        <ul>
            <li>Title</li>
            <li><a href="#" target="_blank" rel="noopener noreferrer">Title</a></li>
            <li><a href="#" target="_blank" rel="noopener noreferrer">Longer Title</a></li>
            <li><a href="#" target="_blank" rel="noopener noreferrer">So Long Title</a></li>
        </ul>
        <ul>
            <li>Title</li>
            <li><a href="#" target="_blank" rel="noopener noreferrer">Title</a></li>
            <li><a href="#" target="_blank" rel="noopener noreferrer">Longer Title</a></li>
            <li><a href="#" target="_blank" rel="noopener noreferrer">So Long Title</a></li>
        </ul>
        <ul>
            <li>Title</li>
            <li><a href="#" target="_blank" rel="noopener noreferrer">Title</a></li>
            <li><a href="#" target="_blank" rel="noopener noreferrer">Longer Title</a></li>
            <li><a href="#" target="_blank" rel="noopener noreferrer">So Long Title</a></li>
        </ul>
    </section>
    <section class="pa_info">
        <div>
            <ul>
                <li><a target="_blank" rel="noopener noreferrer" href="#">Accessability</a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="#">Privacy</a></li>
                <li><a target="_blank" rel="noopener noreferrer" href="#">Security</a></li>
            </ul>
            <p>Copyright &copy; 2016 PA.gov</p>
        </div>
    </section>
</footer>
