%profile-layout {
    padding-top: 0;
    @media #{$medium-only} { padding: 0; }
    @media #{$small-only} { padding: 0; }
    h1 {
        display: none;
    }
}

%profile-header {
    padding: $base-horizontal-small 0;
    width: 100%;
    background: $slate;
    @media #{$medium-only} { padding: 3.157rem; }
    @media #{$small-only} { padding: $base-horizontal-padding 2.269%; }
}

%profile-breadcrumb {
    @include wrap($base-max-width, auto);
    //TODO: migrate this to a breadcrumb partial
    li {
        @include type-setting(3);
        position: relative;
        float: left;
        font-family: $title-font;
        font-weight: 900;
        text-transform: uppercase;
        a {
            color: $gry;
        }
        + li {
            margin-left: $base-vertical*2;
            color: $gry_muted;
            &:before {
                font-family: FontAwesome;
                content: "\f054";
                color: $gry;

                border-radius: 50%;
                text-align: center;
                vertical-align: middle;

                position: absolute;
                top: 0;
                left: -$base-vertical*2;

                @include type-setting(1);
                // @include span(2 of 12);
                // margin-right: gutter(12);
                line-height: 2.5781rem;
                width: 2.5781rem;
                height: 2.5781rem;
                @media #{$medium-down} {
                    // @include span(2 of 12);
                    @include type-setting(0);
                    line-height: 2.5781rem;
                    width: 2.5781rem;
                    height: 2.5781rem;
                }
                @media #{$small-only} {
                    width: 2.369rem;
                    height: 2.369rem;
                    line-height: 2.369rem;
                }
            }
        }
        &.current,
        &.current:before,
        &.current a {
            color: #777; //NOTE: unable to find a value in variables for this
        }
    }
    .fa {
        //NOTE: Borrowed from /compontents/_alerts
        // possibly break into its own small icons class in /compontents/_icons

        // @include span(1 of 12);
        // position: relative;
        // margin-right: $base-vertical;
        border-radius: 50%;
        text-align: center;
        vertical-align: middle;
        background: $gry;
        color: $slate;

        @include type-setting(1);
        // @include span(2 of 12);
        // margin-right: gutter(12);
        line-height: 2.5781rem;
        width: 2.5781rem;
        height: 2.5781rem;
        @media #{$medium-down} {
            // @include span(2 of 12);
            @include type-setting(0);
            line-height: 2.5781rem;
            width: 2.5781rem;
            height: 2.5781rem;
        }
        @media #{$small-only} {
            width: 2.369rem;
            height: 2.369rem;
            line-height: 2.369rem;
        }
    }
}

%profile-hero {
    @include wrap($base-max-width, auto);
    padding: $base-vertical 0;
    @include clear();
    img {
        @include span(5 of 12);
        max-width: span(5 of 12);
        margin-bottom: 0;
        padding-left: 2.5781rem*1.25;
        @media #{$medium-only} {
            @include span(6 of 12);
            max-width: span(6 of 12);
            padding-left: 0;
        }
        @media #{$small-only} {
            @include span(12 of 12);
            max-width: span(12 of 12);
            padding-left: 0;
        }
    }
    figcaption {
        @include span(7 of 12 last);
        padding-top: $base-vertical-padding;
        color: $wht;
        h1 {
            margin-bottom: $base-horizontal-small;
        }
        @media #{$medium-only} {
            @include span(6 of 12 last);
            padding-top: 0;
        }
        @media #{$small-only} {
            @include span(12 of 12);
            padding-top: $base-horizontal-small;
        }
    }
}

%profile-body {
    @include wrap($base-max-width, auto);
    padding: $base-vertical-padding 0 0;
    @media #{$medium-only} { padding: 3.157rem; }
    @media #{$small-only} { padding: $base-horizontal-padding 2.269%; }
    h4 {
        @include span(5 of 12);
        color: $gry_muted;
        text-transform: uppercase;
        text-align: right;
        @include clear();
        @media #{$medium-down} {
            @include span(6 of 12);
        }
        @media #{$small-only} {
            text-align: left;
            @include span(12 of 12);
        }
    }
    p {
        @include span(7 of 12 last);
        margin: 0;
        padding: 0;
        line-height: 2.5781rem;
        @media #{$medium-down} {
            @include span(6 of 12 last);
        }
        @media #{$small-only} {
            @include span(12 of 12);
        }
    }
    // aliases and marks
    ul {
        @include span(7 of 12);
        margin: 0;
        padding: 0;
        line-height: 2.5781rem;
        list-style: none;
        @media #{$medium-down} {
            @include span(6 of 12 last);
        }
        @media #{$small-only} {
            @include span(12 of 12);
        }
    }
}

%profile-body-button {
    @include pre(3 of 12);
    @include span(6 of 12);
    @media #{$medium-down} {
        @include span(6 of 12);
    }
    @media #{$small-only} {
        @include span(12 of 12);
    }
}

%profile-body-alias {
    li {
        float: left;
        line-height: 2.5781rem;
        + li {
            margin-left: 5px;
            &:before {
                content: "/";
            }
        }
    }
    @media #{$medium-down} {
        @include span(6 of 12);
    }
    @media #{$small-only} {
        @include span(12 of 12);
    }
}

%profile-body-marks {
    li {
        @include span(3 of 12);
        margin-bottom: $base-vertical;
        @media #{$large-only} {
            &:nth-child(4n) {
                @include last;
            }
        }
        @media #{$medium-down} {
            @include span(6 of 12);
            &:nth-child(even){
                margin-right: 0;
            }
            &:nth-child(odd){
                clear: both;
            }
        }
    }
    img {
        margin: 0;
        @media #{$medium-down} {
            width: 100%;
        }
    }
    figcaption {
        display: none;
    }
    @media #{$medium-down} {
        @include span(6 of 12);
    }
    @media #{$small-only} {
        @include span(12 of 12);
    }
}


//Compile all profile placeholders
.profile {
    @extend %profile-layout;
    header {
        @extend %profile-header;
        figure {
            @extend %profile-hero;
        }
    }
    .breadcrumb {
        @extend %profile-breadcrumb;
    }
    &_body {
        @extend %profile-body;
        &-button {
            @extend %profile-body-button;
        }
        &-marks {
            @extend %profile-body-marks;
        }
        &-alias {
            @extend %profile-body-alias;
        }
    }
}