// BG COLORS

.bg-wht         {background:$wht;}
.bg-blk         {background:$blk;}
.bg-blkalt      {background:$blkalt;}
.bg-blkdrk      {background:$blkdrk;}
.bg-whtlite     {background:$whtlite;}

.bg-gry         {background:$gry;}
.bg-grylite     {background:$grylite;}
.bg-gryslvr     {background:$gryslvr;}
.bg-gry_muted   {background:$gry_muted;}
.bg-grydrk      {background:$grydrk;}
.bg-slate       {background:$slate;}

// pagov
.bg-blu         {background:$blu;}
.bg-bludrk      {background:$bludrk;}
.bg-pch         {background:$pch;}
.bg-gld         {background:$gld;}
.bg-trq         {background:$trq;}

// scnd
.bg-ylw         {background:$ylw;}
.bg-grn         {background:$grn;}
.bg-red         {background:$red;}

// TEXT COLORS

.txt-wht        {color:$wht;}
.txt-blk        {color:$blk;}
.txt-blkalt     {color:$blkalt;}
.txt-blkdrk     {color:$blkdrk;}
.txt-slate      {color:$slate;}

.txt-gry        {color:$gry;}
.txt-grylite    {color:$grylite;}
.txt-gryslvr    {color:$gryslvr;}
.txt-grydrk     {color:$grydrk;}
.txt-gry_muted  {color:$gry_muted;}

// pagov
.txt-blu        {color:$blu;}
.txt-bludrk     {color:$blu;}
.txt-pch        {color:$pch;}
.txt-gld        {color:$gld;}
.txt-trq        {color:$trq;}

// scnd
.txt-ylw        {color:$ylw;}
.txt-grn        {color:$grn;}
.txt-red        {color:$red;}
