// ==========================================
//
//      SIDE NAV
//      =======================
//
//      I.  styleguide
//      II. unique styling by parent ID
//          1. home
//
// =========================================

// ==========================
//  I. sidenav
// ==========================

// .publicNav,
// .dashboard {

    /* NAV: mobile left slideout menu
    --------------------------------------- */
    #nav-menu {
        //@include span(2 static isolate);
        width: 15rem;
        display: block;
        position: fixed;
        z-index: 99999;
        //top : 67px; // = the height of the top nav
        right : -100%;
        left : 0;
        height: 100%;
        // padding: 50px 20px 20px; //  50px 0px 0px; // 0px

        // overflow, when height of sidebar exceeds viewport height: 
        overflow-y: auto;
	    -webkit-overflow-scrolling: touch;

        background: $wht; // $blu;
        font-weight: 700;
        @include type-setting(0);
        color: $gry;

        @include anim(all 305ms ease);
        @media #{$medium-only} { @include span(1.1 static isolate); }
        @media #{$small-only} { left : -500%; margin-right : 0; }

        // variation for frontpage to keep it hidden on large screens
        &.publicNav {
            @media #{$medium-up} {  left : -500%; margin-right : 0; }
            // @media #{$medium-up} {  z-index: unset; }
        }

        // LOG OFF - remove form styling from log off
        // *********************************************
        form {
            margin : 0; // !important;
            max-width: auto;
            label { width : auto; }
            input {
                display:inline-block;
                padding: 0;
                margin: 0;
                border: none;
            }
        }

        //  CART - # of items in cart indicator - for SCND
        // *********************************************
        // span {
        //     position: absolute;
        //     left: 2.369rem; // 20px;
        //     top: 0.95rem; // -3px
        //     background: $ylw;
        //     // padding : 5px;
        //     width: 1rem;
        //     font-size : .7rem;
        //     text-align: center;
        //     line-height: 1rem;
        //     border-radius : 5px;
        //     color : $slate;
        // }

        //  NAV ITEMS
        // **********************
        a:not(.nav-trigger) {
            display:block;
            // clear : both;
            position : relative;
            // margin-bottom: 30px;
            padding: $base-vertical;
            // height : 2.5rem;

            color: $slate;
            font-weight: 700;// 400;
            // text-transform: uppercase;

            border-right: 0.2rem solid transparent;

            @include anim($global-animation);
            @include hover() {
                border-right: 0.2rem solid $org;
                background: $gry;
                color: $slate;
                span {background: $slate;}
            }

            // @include anim(all 150ms ease);
            // @include hover() {color: lighten($grn, 10%);}

            // adds arrow
            &.active {

                // @include type-setting(0);
                background: $slate;
                color: $wht; // $wht
                font-weight: 700; // 400

                span {background: $wht;}

                &:after, &:before {
                	left: 100%;
                	top: 50%;
                	border: solid transparent;
                	content: " ";
                	height: 0;
                	width: 0;
                	position: absolute;
                	pointer-events: none;
                }

                &:after {
                	border-color: rgba(250,250,250, 0);
                	border-left-color: #ffe066;
                	border-width: 10px;
                	margin-top: -10px;
                }
                &:before {
                	border-color: rgba(64, 64, 64, 0);
                	border-left-color: $wht;
                	border-width: 13px;
                	margin-top: -13px;
                }
            }

        }

        //  TITLE + ICON
        // ******************
        label, i {vertical-align: middle;}

        label {
            display : inline-block;
            padding-bottom: 0;
            margin-bottom:0;
            font-size : inherit;
            color : inherit;
            text-transform: none;
            cursor : pointer;
            @media #{$medium-only} { display : none; }
            // @media #{$large-only} { display : inline-block; }
        }

        i.fa {
            // display : inline-block; = .fa is already inline-block
            font-size: $base-vertical;
            margin-right: $base-horizontal-small;  // old: 30px
            width: $base-vertical;
        }

        &.active {
            z-index : 1004;
            //top: 67px; // 10px;
            right : 0;
            left: 0;
            width : 100%;
            @media #{$small-only} { width : 100%; }
            label { display : inline-block; }
        }

    }

// @media #{$medium-only} { .nav .links {display: block;} }

    .f-container #nav-menu {position: relative;}

// }




// sidenav
// ================================

// .sidenav_strapless_JSref {
//     @include span(20%);
// }

.sidenav_header {
    .sidenav_title, a {
        text-align: left;
        display: block;
        position: relative;
        transition: all 0.33333s ease-in-out;
        span, i {vertical-align: middle;}
        span {display: inline-block;}
        i {
            display: inline-block;
            margin-right: 0.77778rem;
            width: 1.33333rem;
        }
    }
    a {
        // font-size: 0.75rem;
        padding: 0.333rem 1rem;
        i {
            font-size: 1rem;
            color: lighten($slate,20%);
            line-height: 1.7778rem;
        }
        & > span {line-height: 1.7778rem; display: inline-block;}
        @include hover() {
            background-color:$slate;
            color:$wht;
            i {color: $org;}
        }
    }
    .sidenav_title {
        @include type-setting(1);
        // border: 0;
        font-weight: 700;
        // background: $gryslvr;
        border-top: 1px solid $gry_muted;
        border-bottom: 1px solid $gry_muted;
        padding: 1rem;
        i {font-size: 1.33333rem; color: lighten($slate,20%);}
    }
}


// sidenav background

.f-menu {background: $gry;}
