<section class="layout_sidenav">
        
    <!-- TAB NAV -->
    <div class="tabs buttonList sidenav" data-tabgroup="sidenav-tab-group">
        <a href="#uno" class="active">
            <i class="fa fa-star"></i> 
            <span>Tab #1</span>
        </a>
        <a href="#dos">
            <i class="fa fa-star"></i> 
            <span>Tab #2</span>
        </a>
        <a href="#tres">
            <i class="fa fa-star"></i> 
            <span>Tab #3</span>
        </a>
    </div>
    
    <!-- Tab Content -->
    <div id="sidenav-tab-group" class="tabgroup">
    
        <div id="uno">
            <h3>Tab #1</h3>
            <p>Lorem Ipsum successful taxonomy takes into account a number of different factors such as established brand terminology, personal preference, the size and scale of the end applications, etc.</p>
        </div>
    
        <div id="dos">
            <h3>Tab #2</h3>
            <img src="https://images.unsplash.com/photo-1465821185615-20b3c2fbf41b?dpr=0.89552241563797&auto=format&fit=crop&w=1500&h=872&q=80&cs=tinysrgb&crop=" alt="">
        </div>
        
        <div id="tres">
            <h3>Tab #3</h3>
            <p>Lorem Ipsum successful taxonomy takes into account a number of different factors such as established brand terminology, personal preference, the size and scale of the end applications, etc.</p>
            <img src="https://images.unsplash.com/photo-1465821185615-20b3c2fbf41b?dpr=0.89552241563797&auto=format&fit=crop&w=1500&h=872&q=80&cs=tinysrgb&crop=" alt="">
        </div>
        
    </div>
    
</section>