---
buttonTitle: Button Title
buttonIcon: fa-star
---
<!-- TODO: get this working, with a js solution -->

<!-- TAB NAV -->
<div class="tabs tabBar" data-tabgroup="first-tab-group">
    {{> buttons.icon_Button_Hyperlink iconButtonURL="#1" iconButtonClass="active"}}
    {{> buttons.icon_Button_Hyperlink iconButtonURL="#2"}}
    {{> buttons.icon_Button_Hyperlink iconButtonURL="#3"}}
    {{> buttons.icon_Button_Hyperlink iconButtonURL="#4"}}
</div>

<!-- Tab Content -->
<div id="first-tab-group" class="tabgroup article">

    <div id="1">
        <h3>Tab #1</h3>
        <p>Lorem Ipsum successful taxonomy takes into account a number of different factors such as established brand terminology, personal preference, the size and scale of the end applications, etc.</p>
    </div>

    <div id="2">
        <h3>Tab #2</h3>
        <img src="https://images.unsplash.com/photo-1465821185615-20b3c2fbf41b?dpr=0.89552241563797&auto=format&fit=crop&w=1500&h=872&q=80&cs=tinysrgb&crop=" alt="">
    </div>
 
    <div id="3">
        <h3>Tab #3</h3>
        <p>Lorem Ipsum successful taxonomy takes into account a number of different factors such as established brand terminology, personal preference, the size and scale of the end applications, etc.</p>
        <img src="https://images.unsplash.com/photo-1465821185615-20b3c2fbf41b?dpr=0.89552241563797&auto=format&fit=crop&w=1500&h=872&q=80&cs=tinysrgb&crop=" alt="">
    </div>

</div>
