
// ===================================
//              TABS
// ===================================

// used largely for the WIZARD
// .tabs {
//     &:not(.subwizard) {
//         li {
//             float:left;
//             // width:50%;       // 2 tabs
//                width:33.33333%; // 3 tabs
//             // width:20%;       // 5 tabs
//             &.progress-step { a {padding: 1.25rem 0 0.5rem;} }
//         }
//         a {
//             display:block;
//             text-align:center;
//             text-decoration:none;
//             text-transform:uppercase;
//             color:#888;
//             // padding:20px 0;
//             // adjust padding for wizard top
//
//             border-bottom:2px solid #888;
//             background:$wht;
//             @include anim(all 0.3s ease-in-out);
//             &.active {background: $gry;}
//             @include hover() {background:$gry;}
//         }
//         @include clear();
//     }
// }
//
// // tab screens wrapper
// .tabgroup {
//     @include container(100%);
//     #tab1, #tab2, #tab3, #tab4, #tab5,
//     #first, #second, #third { padding:1.875rem; } // = 30px
//     #start, #role, #project, #projectDetail { height: 100%; @include clear(); } // ensures full height, even when content is shorter than viewport
// }

// wizard styling found now in components/_wizard
// used largely for the WIZARD
.tabs {
    li {
        float:left;
        // width:50%;       // 2 tabs
           width:33.33333%; // 3 tabs
        // width:20%;       // 5 tabs
    }
    a {
        display:block;
        text-align:center;
        text-decoration:none;
        text-transform:uppercase;
        color:#888;
        padding:20px 0;
        border-bottom:2px solid #888;
        background:$wht;
        @include anim(all 0.3s ease-in-out);
        &.active {background: $gry;}
        @include hover() {background:$gry;}
    }
    // used in WIZARD
    &.question {
        padding: 1.5rem;
        li {width:50%;}
        a {
            margin: 1rem;
            padding: 1rem;
            border: 0.125rem solid $gry;
            &.active {         background: $slate; border-color: $slate; color: $wht;}
            @include hover() { background: $slate; border-color: $slate; color: $wht;}
        }
    }

    @include clear();
}
.tabgroup {
    @include clear();
    // div --- semantic, but only an hour left FIX LATER
    #tab1, #tab2, #tab3, #tab4, #tab5,
    #first, #second, #third,
    // #yes, #no
    {
        padding:1.875rem; // = 30px
        // box-shadow:0 3px 10px rgba(0,0,0,.3);
    }
}

// wizard tabs styling - for dgs - scnd
.urawizardharry {
    section { margin: auto; section {margin:auto;} }
    h5, h6 {text-align: center; padding: 5rem 2em 2.5rem;}
    .tabs.question {
        a {
            text-align: left;
            text-transform: none;
            padding: 1.25rem 1.5rem;
            background: $wht; border-color: $gry; color: #888; // same as .active
            h3 {line-height: 2rem; margin-bottom: 0.75rem;}
            &.active {background: $wht; border-color: $gry; color: #888;}
        }
    }
}
