<!-- TOP NAV - MOBILE SIDE SLIDEOUT MENU -->
<nav data-scroll-header id="nav-menu">
    <a href="~/Dashboard/Projects" class="active">
        <i class="fa fa-home" aria-hidden="true"></i>
        <label>My Projects</label>
    </a>
    <a href="~/dashboard/start">
        <i class="fa fa-file-text"></i>
        <label>File a Notice</label>
    </a>
    <a>
        <i class="fa fa-search"></i>
        <label>Search</label>
    </a>
    <a href="~/ShoppingCart">
        <i class="fa fa-shopping-cart"></i>
        <span data-bind="text: itemCount, visible: itemCount"></span>
        <label>Cart</label>
    </a>
    <a href="~/Manage">
        <i class="fa fa-user" aria-hidden="true"></i>
        <label>Manage Account</label>
    </a>
    <a href="~/Help">
        <i class="fa fa-question" aria-hidden="true"></i>
        <label>Help</label>
    </a>
    <a href="~/Admin/Merge">
        <i class="fa fa-user" aria-hidden="true"></i>
        <label>Merge</label>
    </a>
    <a href="javascript:document.getElementById('logoutForm').submit()">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <label>Log Out</label>
    </a>
</nav>
