<nav class="oldnav png">
    <a class="nav-trigger nav-open">
        <div class="inner"></div>
        <span class="menulabel">MENU</span>
    </a>
    <ul class="title">
       <li>
           <a class="logo" href="#">{{> logos.logoPNG}}</a>
        </li>
    </ul>
    <ul class="links">
        <li class="navitem active"><a href="/Absconder/SubmitTip"><i class="fa fa-pencil" aria-hidden="true"></i> Submit A Tip</a></li>
        <li class="navitem"><a href="/Search"><i class="fa fa-search" aria-hidden="true"></i> Search</a></li>
    </ul>
</nav>
<nav data-scroll-header class="publicNav" id="nav-menu">
    <a class="active" href="/Absconder/SubmitTip"><i class="fa fa-pencil" aria-hidden="true"></i> Submit A Tip</a>
    <a href="/Search"><i class="fa fa-search" aria-hidden="true"></i> Search</a>
</nav>
