---
title: Top Nav
navMenuLabel: Menu
---
<nav class="nav" role="navigation">
    <a class="logo" href="#">
        <!-- {{> logos.logo}} -->
        <svg class="svg"><use xlink:href="#pagovLogo" /></svg>
    </a>
    <div class="links">
        <a href="/Absconder/SubmitTip" class="navitem active">
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <label>Submit A Tip</label>
        </a>
        <a href="/Search" class="navitem">
            <i class="fa fa-search" aria-hidden="true"></i>
            Search
        </a>
    </div>
    <button class="nav-trigger nav-open">
        <div class="inner"></div>
        <span class="menulabel">MENU</span>
    </button>
</nav>
