// bg - all
@mixin bg-all($url, $position, $repeat, $attachment) {
    background-image: url($url);
    background-attachment: $attachment;
    background-position: $position;
    background-repeat: $repeat;
}