// ==========================
//  
//   Code4PA - Hackathon
//  -----------------------------
//   - unique sections & style variations 
//      - hero
//      - dates
//      - FAQs
//      - Stay Updated
//      - Hosts
//      - Location
//      - Save The Date splashpage 
//
// ==========================


//  hero
// ************************
//  - modifies .hero
//  - integrates particleground bg line effect
// ************************

#particles {
    background: transparent;
    canvas.pg-canvas {
        position: fixed !important;
        height: 100% !important;
        width: 100% !important;
        z-index: -3;
    }
}
.hero#particles {
    position: relative;
    width: 100%;
    height: 50%;
    height: 100vh;
    min-height: 300px;
    overflow: hidden;
    padding: 0;
    h1 {font-weight: 900;}
    // toggle for home
    // svg,
    div {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%, -50%));
    }
    svg {max-width: 500px;}
}
body#particles {margin-top:0;padding-top: 0;}


//  dates
// ************************
//  - modifies .cards
// ************************
.cards_dates {
    @include clear();
    @include span(50% no-gutters);
    height: 50vh;
    min-height: 400px;
    @media #{$medium-down} {
        height: auto;
        @include span(100% no-gutters);
    }
    .card {
        height: 25vh; // 33vh;
        min-height: 250px; // 365px;
        // max-width: 100%;
        padding: $base-horizontal-padding;

        // appearance
        p {color: $slate;}
        border: 2px solid $gry_bold;
        background: #fafafa;
        @include hover() {background: $slate; p {color:$wht;}}

        // first-child is label + description, and shouldn't have a hover effect
        &:first-child {
            border: 0;
            background: transparent;
            h2, p {color: $slate; text-align: left;}
            @include hover() {background: none; p {color: $slate;}}
            @media #{$large-up} {display: none;}
            @media #{$medium-down} {@include span(12 of 12 no-gutters);}
        }

         // nov 05 - should be visually different from other cards, as it's seperate timewise
        &:last-child {
            border: 0;
            padding: 1rem;
            // p {color: $wht;}
            // background: $gry;
        }

        // preliminary styles

        // &:nth-child(2) {background: $blu;}      // sept 29
        // &:nth-child(3) {background: $org;}      // sept 30
        // &:nth-child(4) {background: $grydrk}    // oct  01
        // &:last-child {background: $navy;}       // nov 05

        // styling the date's number
        &:nth-child(2), &:nth-child(3), &:nth-child(4), &:last-child {
            p:last-child {font-size: 4.209rem; line-height: 1em;}
        }

        // applies gutters to cards
        &.gutter {
            &.col2 { @include span(6 of 12); }
            &.col3 { @include span(4 of 12); }
        }

        // layout
        // -----------------
        @include span(50% no-gutters);
        &:nth-child(2) {@include last;}

        // @media #{$extra-large-down} {@include span(25% no-gutters);}

        // 2 cols - every other floats to the right
        // -----------------
        @media #{$medium-down} {
            height: auto;
            @include span(50% no-gutters);
            &:last-child {@include last;}
            // &:first-of-type { @include span(12 of 12 no-gutters);}
            // &:last-of-type { @include span(12 of 12 no-gutters);}
            // &:nth-of-type(odd) { @include last; }
        }
        @media #{$small-only} {
            &:nth-child(n+4):nth-child(-n+5) {@include span(100% no-gutters);}
            @include span(100% no-gutters);
        }
    }
}

// FAQs
// ************************
//  - modified .accordion styles
// ************************
.faqs {
    @include clear();
    display: block;
    max-width: $article-max-width;
    margin: 0 auto;
    padding: $base-vertical-padding 0;
    h2 {font-weight: 700;}
    & > h2:first-child {
        @include type-setting(4);
        margin-bottom: $base-vertical-padding;
        @media #{$extra-large-down} {padding-left: $base-vertical; padding-right: $base-vertical;}
        @media #{$large-down} {margin-bottom: $base-horizontal-padding;}
    }
    .accordion {
        // TODO: add unique styles for faqs (.faqs .accordion > p) from accordion.scss (around line 80) here
    }
}

//  STAY UPDATED
// ************************
//  - modified form styles
//  - background v. background-color example
// ************************
body:not(main.code4pa_saveTheDate) {
    .stayUpdated {
        @include clear();
        @include span(100% no-gutters);
        padding: $base-vertical-padding 0;
        margin: 0 auto $base-vertical-padding;
        background-color: $org;
        // max-width: 100%;
        // width: 100%;
        h2 {@include clear(); max-width: $article-max-width;}
        input[type="submit"] {margin-left: auto; margin-right: auto;}
    }
}





//  HOSTS
// ************************
//  - Section Title is SPECIAL THANKS To Our Hosts & Organizers
//  - new generic section, using images and a 3 col grid
//  - hostThanks uniquely styles the image grid, beyond what's in imageGrid
// ************************
.imageGrid {
    @include clear();
    padding: $base-vertical-padding 0;
    img {
        padding: 1rem;
        @include span(4 of 12);
        &:nth-child(3) {@include last;}
    }
}
.hostThanks {
    @extend .imageGrid;
    background: $slate;
    h2 {@include type-setting(4); text-transform: uppercase;}
    h2, p {color: $wht; text-align: center; margin-bottom: $base-horizontal-padding;}
    img {margin-bottom: 0;}
    div {@include wrap($base-max-width, auto);}
}

//  LOCATION
// ************************
//  - Google Maps, styled via Mapkit
//  - https://mapkit.io/editor/xtWuYS
//  - https://codepen.io/brianroy/pen/evJGjQ
// ************************
#map4code4pa {
    @include span(50% no-gutters last);
    height: 50vh;
    min-height:400px;
    @media #{$medium-down} {@include span(100% no-gutters);}
}



//  SAVE THE DATE
// ************************
//  - PLACEHOLDER SITE UP UNTIL FULL SITE IS READY TO GO
// ************************

main.code4pa_saveTheDate {

    @include wrap($base-max-width, auto);

    h1 {
        font-weight: 400;
        color: $navy;
    }
    h2 {
        font-weight: 400;
        color: $navy;
    }
    p.code4pa_Subtitle {
        @include type-setting(2);
        text-align: center;
        text-transform: uppercase;
        margin: 0 auto $base-horizontal-padding;
    }
    h1 {
        display: block;
        margin: $base-horizontal-padding auto;
        text-align: center;
        @media #{$extra-large-down} {padding-left: $base-vertical; padding-right: $base-vertical;}
    }

    img {
        margin: 0 auto;
        padding: $base-horizontal-padding $base-vertical-padding * 1.333;
        @include span(6 of 12);
        &:last-child {@include last;}
        @media #{$medium-only} {padding: $base-horizontal-padding $base-vertical-padding;}
        @media #{$small-only} {padding: $base-horizontal-padding;}
        @media #{$smaller-only} {@include span(12 of 12);}

        // variation for hero image when its a png
        &.code4pa_logo_hero_img {
            display:block;
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;
        }
    }
    .code4pa_logo_hero {
        display: block;
        margin: 0 auto $base-horizontal-padding;
        max-width: 600px;
    }

    // PRESENTED BY - Logo size variations
    .code4pa_presentedBy_Logosize_1 { img {padding: $base-horizontal-padding $base-vertical-padding;} }
    .code4pa_presentedBy_Logosize_2 { img {padding: $base-horizontal-padding $base-vertical-padding * 1.333;} }
    .code4pa_presentedBy_Logosize_3 { img {padding: $base-horizontal-padding $base-vertical-padding * 1.778;} }
    .code4pa_presentedBy_Logosize_4 { img {padding: $base-horizontal-padding $base-vertical-padding * 2.369;} }

    .code4pa_Where, .code4pa_When, .code4pa_stayUpdated, .code4pa_PresentedBy, .code4pa_ThankYou {
        @include clear();
        padding: $base-vertical;
        margin: 0 auto $base-horizontal-padding;
        // note: this is an example of where background: wins inheritance over background-color:
        // background-color: #fafafa; // this won't work
        background: #fafafa;
        border:3px solid $gry;
    }

    // 2 cols, 2 rows - where, when, col2: stay updated
    & > .code4pa_Where, & > .code4pa_When,
    .code4pa_left_wrapper,
    .code4pa_stayUpdated {@include span(6 of 12);}

    // when code4pa_When, _Where aren't inside the left_wrapper
    & > .code4pa_Where, & > .code4pa_When,
    .code4pa_left_wrapper { @media #{$medium-down} {@include span(12 of 12);} }

    .code4pa_left_wrapper {
        & > .code4pa_Where, & > .code4pa_When {
            display: block;
            width: 100%;
            max-width: $article-max-width;
            @media #{$medium-only} {@include span(6 of 12);}
        }
        & > .code4pa_Where { @media #{$medium-only} {@include last;} }
    }

    .code4pa_ThankYou {
        a.button {margin-bottom: $base-horizontal-padding;}
    }

    // 2 - 1 - 1
    // when and where need to be next to each other, before stay updated
    &.code4pa_compare {
        .code4pa_Where, .code4pa_When {@include span(6 of 12);}
        .code4pa_Where {@include last;}
        .code4pa_stayUpdated {@include span(12 of 12);}
        .code4pa_Where, .code4pa_When { @media #{$small-only} {@include span(12 of 12);} }
    }

    .code4pa_PresentedBy {@include span(12 of 12);}

    .code4pa_stayUpdated {
        @include last;
        // min-height: 800px;
        p {margin-bottom: $base-horizontal-padding;}
        h2 {@include clear(); max-width: $article-max-width;}
        label {margin-bottom: $base-vertical;}
        input[type="text"], input[type="email"] {background: $gry;}
        input[type="submit"] {margin-left: auto; margin-right: auto;}
        @media #{$medium-down} {@include span(12 of 12);}
    }

    svg {
        // max-width: $article-max-width;
        max-width: 600px;
        margin: 0 auto $base-horizontal-padding;
        display: block;
        @media #{$medium-only} {margin: $base-vertical-padding auto $base-horizontal-padding;}
        @media #{$small-only} {margin: $base-horizontal-padding auto;}
    }
    &.code4pa_compare {
        svg {
            max-width: 600px;
            margin: auto;
            display: block;
        }
    }

    // color variations
    &.code4pa_compare_blueBg {
        .code4pa_Where, .code4pa_When, .code4pa_stayUpdated, .code4pa_PresentedBy {
            border:3px solid $navy;
            background: $navy;
            h2, p, ul, input[type="submit"], label {color: $wht;}
            input[type="submit"] {border-color: $wht;}
        }

    }
    &.code4pa_compare_blue {
        .code4pa_Where, .code4pa_When, .code4pa_stayUpdated, .code4pa_PresentedBy {
            border:3px solid $navy;
        }
    }
    &.code4pa_compare_grey {
        .code4pa_Where, .code4pa_When, .code4pa_stayUpdated, .code4pa_PresentedBy {
            border:2px solid $gry;
            background: $gry;
            input[type="text"], input[type="email"] {background: $wht;}
        }
    }
    &.code4pa_compare_greyOrange {
        .code4pa_Where, .code4pa_When, .code4pa_stayUpdated, .code4pa_PresentedBy {
            border:2px solid $org;
            background: $gry;
            input[type="text"], input[type="email"] {background: $wht;}
        }
    }
    &.code4pa_compare_greyBlue {
        .code4pa_Where, .code4pa_When, .code4pa_stayUpdated, .code4pa_PresentedBy {
            border:2px solid $navy;
            background: $gry;
            input[type="text"], input[type="email"] {background: $wht;}
        }
    }
    &.code4pa_compare_gold {
        .code4pa_Where, .code4pa_When, .code4pa_stayUpdated {
            background:$org;
            border:0;
            h1, h2 {color: $slate;}
        }
    }

    @media #{$extra-large-down} {padding-left: $base-vertical; padding-right: $base-vertical;}

}