/*

NAWCC GUTENBERG STYLES
******************************

- Editor width
- Lead Paragraph
- Blockquote
- Metadata
- Tags
- Post List
- Hero


*/



/* Editor Width */


/* Main column width */
.wp-block {
    max-width: 63.884rem; /* = $wide-max-width | old: 720px;*/
}

/* Width of "wide" blocks */
.wp-block[data-align="wide"] {
    max-width: 63.884rem; /* = $wide-max-width | old: 1080px
}

/* Width of "full-wide" blocks */
.wp-block[data-align="full"] {
    max-width: none;
}




p.lead {
    font-size: 1.414rem;
    line-height: 1.999;
}


blockquote {

    display: block;
    margin: 0 auto 1.999rem;
    padding: 1.414rem;
    width: 100%;
    max-width: 511px;

    font-size: 1.414rem;
    line-height: 1.999;

    background: #e0e0e0;

}


.meta {

    display: flex;
    flex-flow: row;
    justify-content: space-between;

    width: 100%;
    max-width: 45.18rem;
    margin-bottom: 1.999rem;

    transition: all ease-in-out 0.3s;

}

.meta.meta_article {
    padding: 0.75em 0;
    border-top: 0.125em solid #e0e0e0;
    border-bottom: 0.125em solid #e0e0e0;
}



.postList {
    display: block;
    width: 100%;
    max-width: 45.18rem;
    margin: auto;
    padding: 2.827rem 0;
}


.postList > a {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    margin: 0 0 1.999rem 0; /* $scale_2 = 1.999 = 31.99px */
}
.postList > a > img {
    margin: 0 1.999rem 0 0; /* $scale_2 = 1.999 = 31.99px */
    max-width: 11.302rem; /* $scale-value_7: 11.302; // 180.828px */
}
.postList > a > div {flex: 1;}
.postList > a:hover {
        background: #ebebeb;
        color: #5e5e5e;
    }
.postList > a .meta.meta_article {border: none;}


.postList.circleImages > a > img { border-radius: 50%; }





/* HEROS */

.editor-styles-wrapper .hero {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    width: 100%;
    height: 100%;
    min-height: 31.952rem;

    text-align: left;
    transition: all ease 1s;

}

.editor-styles-wrapper .hero .hero_color {
    width: 100%;
    height: 100%;
    min-height: 31.952rem;
}

.editor-styles-wrapper .hero.hero_image,
.editor-styles-wrapper .hero .hero_image {

    position: relative;
    z-index: 1;
    background-attachment: scroll;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    width: 100%;
    height: 100%;
    min-height: 31.952rem;

    color: #fafafa;

}

.editor-styles-wrapper .hero.hero_image:before,
.editor-styles-wrapper .hero .hero_image:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    z-index: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.5));
}


.acf-block-preview > .hero.hero_image,
.acf-block-preview > .hero > .hero_image {
    background-image:url('/partials/blockTemplates/img/placeholder_bg.png');
}

.acf-block-preview > .hero.hero_image img,
.acf-block-preview > .hero > .hero_image img {
    max-width: 200px;
    margin: 1.999rem auto;
    position: relative;
    z-index: 99999;
}
